pyrogram
pyrofork == 2.3.45
psutil
pillow
devgagantools
tgcrypto
pyromod
opencv-python-headless
requests
motor
pytz
flask
aiohttp
telethon
aiojobs
werkzeug==2.2.2
apscheduler 
telethon-tgcrypto
mutagen
yt-dlp
speedtest-cli
